.main {
  text-align: center;
  padding: 30px;
  list-style: none;
}

li {
  list-style: none;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

i {
  color: #6b6b6b;
}

i:hover {
  color: #444444;
}